* {

  
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  box-sizing: border-box;
  

}

.users{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-direction: column;
 
 
}

.users-display {
  display: grid;
  width: 100%;
  
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  

}

.users-card{
  background-color: teal;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  text-align: center;
  
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}